<?xml version='1.0'?>
<model>
  <name>linear_gauge_1</name>
  <version>0.1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Samuel Bachmann</name>
    <email>sbachmann@anybotics.com</email>
  </author>
  <description>Linear Gauge 1, 0 - 60 Degrees Celsius</description>
</model>
